/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                  Part 0: html and body specified                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */
html, body {
    height: 100%;
    margin: 0;
}


/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                        Part 1: Header                            */
/*                                                                  */
/*                                                                  */
/*                                                                  */

#title-boxes{
    position: absolute;
    background-color: #98CAC9;
    width: 100px;
    color: #163055;
    top: 10px;
    left: 10px;
    width: 115px;
    height: 30px;
    font-size: 20px;
    border: solid #EDEDF7 2px;
    text-align: center;


}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
}
.box .row {
    border: 1px dotted #0313fc;
}
.box .row.header {
    flex: 0 1 auto;
}
.box .row.nav {
    flex: 0 1 auto;
}
  .box .row.content {
    flex: 1 1 auto;
}

.row-header{
    background: #163055;
}


.navigation {
display: flex;
flex-flow: row wrap;
justify-content: flex-end;

list-style: none;
margin: 0; 
/* background: #163055; */
}

.navigation a {
text-decoration: none;
display: block;
padding: 1em;
color: white;
}

.navigation a:hover {
background: #1565C0;
}

@media all and (max-width: 800px) {
.navigation {
justify-content: space-around;
}
}

@media all and (max-width: 600px) {
.navigation {
flex-flow: column wrap;
padding: 0;
}
.navigation a { 
text-align: center; 
padding: 10px;
border-top: 1px solid rgba(255, 255, 255,0.3); 
border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.navigation li:last-of-type a {
border-bottom: none;
}
}









/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                       Part 2: Nav Bar                           */
/*                                                                  */
/*                                                                  */
/*                                                                  */
#row-nav{
    position: relative;
    background-color: #EDEDF7;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav-title{
    position: absolute;
    background-color: #98CAC9;
    color: #163055;
    top: 10px;
    right: 40px;
    width: 200px;
    height: 75px;
    border: solid #163055 2px;
    font-size: 27px;
    text-align: center;
    
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                       Part 3: Content                           */
/*                                                                  */
/*                                                                  */
/*                                                                  */



/*                                                                  */
/*                                                                  */
/*                                                                  */
/*                 Part 3a: Title of About Me & About Me            */
/*     Part 3b: Title of Project Information & Project Information  */
/*            Part 3c: Title of Contact Me & Contact Me             */
/*                                                                  */
/*                                                                  */
/*                                                                  */

#take1 section {
background-color: #EDEDF7;
margin-bottom: 10px;
display: flex;

}



#take1 section div:nth-child(1) {
    padding: 10px;
    /* background-color: lightpink; */
    width: 150px;
    border-right: 4px solid black;
    display: flex;
    justify-content: right;
    align-items:baseline;
    flex-shrink: 0;
    /* font-size: 35px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#take1 section div:nth-child(2) {
/* background-color: aqua; */
flex-grow: 1;
padding: 20px;
margin-left: 20px;
}
.row-1{
height: 20vh;
}
.row-2{
height: 100vh;


}

.row-3{
height: auto;
}





/* Use Media for size of screen */


.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
    and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}


.big-proj {
    background: blue;
    padding: 5px;
    width: 750px;
    height: 150px;
    margin-top: 10px;
    border-right: solid blue 10px;
    /* line-height: 150px; */
    color: white;
    font-weight: bold;
    text-align: center;
}

.small-proj {
    background: tomato;
    /* padding: 1px; */
    width: 350px;
    height: 150px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}


.proj-title{
    background-color: #98CAC9;
    color: #163055;
    width: 100px;
    height: 37px;
    border: solid #163055 0.5px;
    font-size: 20px;   
    text-align: left;
}


/*                                                                  */
/*                                                                  */
/*                                                                  */
/*             Part 3c: Title of Contact Me & Contact Me            */
/*                                                                  */
/*                                                                  */
/*                                                                  */
section.contact-me-section{
    background-color:pink;
    width : 100%;
    height: 12.5%;
    float :left;
    text-align: right;
    float: right;
}

section.contact-me-section ul {
    list-style-type: none;
}
section.contact-me-section ul li {
    display: inline-block;
    margin-left: 25px;
}




.contact-me-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0; 
    background: #163055;
}

.contact-me-section a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #163055;
}

.contact-me-section a:hover {
    background: #1565C0;    
}

